<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infowithvijay.Quizapp">

    <application
        android:name="com.infowithvijay.Quizapp.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.infowithvijay.Quizapp.JavaLevelsActivity"></activity>
        <activity android:name="com.infowithvijay.Quizapp.KoltinLevelsActivity"></activity>
        <activity android:name="com.infowithvijay.Quizapp.PythonLevelsActivity"></activity>
        <activity android:name="com.infowithvijay.Quizapp.CategoryActivity" />
        <activity android:name="com.infowithvijay.Quizapp.Settings" />
        <activity android:name="com.infowithvijay.Quizapp.QuizActivity" />
        <activity android:name="com.infowithvijay.Quizapp.Result" />
        <activity android:name="com.infowithvijay.Quizapp.PlayScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>